.container-resize
    position: relative
    height: 100%

.resize
    height: 100%
    width: 2px
    background: blue
    position: absolute
    right: 0
    top: 0
    &:hover
      cursor: e-resize
