h1
  color: #cccccc
h3, h5
  color: #cccccc
ul, li
  color: #afacac

li
  a
    text-decoration: none
    color: #3794ff
    &::after
      content: '...'
    &:hover
      color: white
.container
  height: 100%
  width: 100%
  justify-content: center
  align-items: center
  align-content: center
  padding-top: 5rem
