.flex-container
  display: flex
  flex-direction: row
  height: 100vh
  padding-bottom: 1rem

app-sidebar
  width: 4rem

app-workspace
  flex: 1

app-footer
  width: 100%
  height: 1rem
  position: absolute
  bottom: 0
  left: 0

.main-container
  width: calc( 100% - 4rem )
  display: flex
  flex-direction: row
  aside
    flex: none
    min-width: 0px
    width: 250px

.container-fluid
  position: relative

.resize-handle--x
  flex: none
  position: relative
  box-sizing: border-box
  width: 2px
  height: 100%
  cursor: col-resize
  transition: 0.5s

aside
  overflow: hidden
