<div class="container-fluid p-0">
  <div class="flex-container">
    <app-sidebar (changeExplorerContent)="changeExplorerContent($event)"></app-sidebar>
    <div class="main-container" (mousemove)="mousemove($event)" (mouseup)="mouseup($event)">
      <aside id="explorer" #explorer><app-explorer [explorerActivePanel]="explorerActivePanel"></app-explorer></aside>
      <div class="resize-handle--x" id="resize-handle" data-target="aside" (mousedown)="resize($event)"></div>
      <app-workspace></app-workspace>
    </div>
  </div>
  <app-footer></app-footer>
</div>
